In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
# pd.options.display.max_columns = None

#need to import all the csv files 

age_sex2015 = pd.read_csv("../data/age_sex_davidsoncounty2015.csv")
age_sex2015.head()

,Label (Grouping),ZCTA5 37013!!Total!!Estimate,ZCTA5 37013!!Total!!Margin of Error,ZCTA5 37013!!Male!!Estimate,ZCTA5 37013!!Male!!Margin of Error,ZCTA5 37013!!Female!!Estimate,ZCTA5 37013!!Female!!Margin of Error,ZCTA5 37015!!Total!!Estimate,ZCTA5 37015!!Total!!Margin of Error,ZCTA5 37015!!Male!!Estimate,...,ZCTA5 37243!!Male!!Estimate,ZCTA5 37243!!Male!!Margin of Error,ZCTA5 37243!!Female!!Estimate,ZCTA5 37243!!Female!!Margin of Error,ZCTA5 37246!!Total!!Estimate,ZCTA5 37246!!Total!!Margin of Error,ZCTA5 37246!!Male!!Estimate,ZCTA5 37246!!Male!!Margin of Error,ZCTA5 37246!!Female!!Estimate,ZCTA5 37246!!Female!!Margin of Error
0,Total population,"90,073","±2,615","43,837","±1,613","46,236","±1,768","18,361",±797,"8,827",...,0,±12,0,±12,0,±12,0,±12,0,±12
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,8.6%,±0.8,8.3%,±1.1,8.9%,±1.1,6.7%,±1.1,6.9%,...,-,**,-,**,-,**,-,**,-,**
3,5 to 9 years,7.2%,±0.6,7.3%,±0.9,7.0%,±0.9,8.6%,±1.6,7.2%,...,-,**,-,**,-,**,-,**,-,**
4,10 to 14 years,6.4%,±0.6,6.9%,±0.8,6.0%,±0.8,5.9%,±1.4,5.7%,...,-,**,-,**,-,**,-,**,-,**

In [4]:
age_sex2015df = pd.DataFrame(age_sex2015)
df2015 = age_sex2015df.iloc[[0,32],
                           [1, 7, 13, 19, 25, 31, 37, 43, 49, 55, 61, 67, 73, 79, 85, 91, 97, 103, 109, 115, 121, 127, 133, 
                            139, 145, 151, 157, 163, 169, 175, 181, 187, 193, 199, 205, 211, 217, 223]]

df2015.rename(columns={'ZCTA5 37013!!Total!!Estimate' : '37013', 'ZCTA5 37015!!Total!!Estimate': '37015', 'ZCTA5 37027!!Total!!Estimate': '37027', 'ZCTA5 37064!!Total!!Estimate': '37064', 'ZCTA5 37072!!Total!!Estimate':'37072', 'ZCTA5 37076!!Total!!Estimate': '37076',
                      'ZCTA5 37080!!Total!!Estimate' : '37080', 'ZCTA5 37086!!Total!!Estimate':'37086', 'ZCTA5 37115!!Total!!Estimate': '37115',
                      'ZCTA5 37122!!Total!!Estimate':'37122', 'ZCTA5 37135!!Total!!Estimate':'37135', 'ZCTA5 37138!!Total!!Estimate':'37138',
                      'ZCTA5 37143!!Total!!Estimate':'37143','ZCTA5 37189!!Total!!Estimate':'37189', 'ZCTA5 37201!!Total!!Estimate':'37201','ZCTA5 37203!!Total!!Estimate':'37203',
                      'ZCTA5 37204!!Total!!Estimate':'37204', 'ZCTA5 37205!!Total!!Estimate':'37205', 'ZCTA5 37206!!Total!!Estimate':'37206','ZCTA5 37207!!Total!!Estimate':'37207',
                      'ZCTA5 37208!!Total!!Estimate':'37208', 'ZCTA5 37209!!Total!!Estimate':'37209', 'ZCTA5 37210!!Total!!Estimate':'37210', 'ZCTA5 37211!!Total!!Estimate':'37211',
                      'ZCTA5 37212!!Total!!Estimate':'37212', 'ZCTA5 37213!!Total!!Estimate':'37213', 'ZCTA5 37214!!Total!!Estimate':'37214','ZCTA5 37215!!Total!!Estimate':'37215',
                      'ZCTA5 37216!!Total!!Estimate':'37216', 'ZCTA5 37217!!Total!!Estimate':'37217','ZCTA5 37218!!Total!!Estimate':'37218','ZCTA5 37219!!Total!!Estimate':'37219',
                      'ZCTA5 37220!!Total!!Estimate':'37220', 'ZCTA5 37221!!Total!!Estimate':'37221', 'ZCTA5 37228!!Total!!Estimate':'37228', 'ZCTA5 37240!!Total!!Estimate':'37240',
                      'ZCTA5 37243!!Total!!Estimate':'37243', 'ZCTA5 37246!!Total!!Estimate':'37246'}, inplace=True)

df2015

,37013,37015,37027,37064,37072,37076,37080,37086,37115,37122,...,37216,37217,37218,37219,37220,37221,37228,37240,37243,37246
0,"90,073","18,361","53,242","53,212","31,392","37,749","7,079","33,054","39,846","51,660",...,"18,479","28,885","15,044","1,039","5,611","39,313","1,226",717,0,0
32,31.8,39.7,41.2,40.0,42.6,34.0,48.7,31.5,35.2,38.9,...,38.7,33.0,41.6,37.1,43.9,40.3,35.5,19.8,-,-

In [5]:
df2015a = df2015.transpose() 
df2015a.reset_index(level=0, inplace=True)
index = df2015a.index
index.name = 'Population per County 2015'
df2015a

df2015a.rename(columns={'index': 'zip_code', 0:'population', 32:'median age'}, inplace=True)
df2015a

                           zip_code population median age
Population per County 2015
0                             37013     90,073       31.8
1                             37015     18,361       39.7
2                             37027     53,242       41.2
3                             37064     53,212       40.0
4                             37072     31,392       42.6
5                             37076     37,749       34.0
6                             37080      7,079       48.7
7                             37086     33,054       31.5
8                             37115     39,846       35.2
9                             37122     51,660       38.9
10                            37135     10,374       34.9
11                            37138     23,408       40.8
12                            37143      3,847       40.5
13                            37189      3,476       36.9
14                            37201      1,870       32.2
15                            37203     12,068       29.6
16                            37204     13,169       32.4
17                            37205     24,341       44.9
18                            37206     26,323       33.0
19                            37207     35,497       34.9
20                            37208     16,251       31.6
21                            37209     37,308       30.7
22                            37210     16,326       30.5
23                            37211     77,960       32.1
24                            37212     20,130       24.3
25                            37213        125       30.9
26                            37214     29,555       38.1
27                            37215     21,691       43.3
28                            37216     18,479       38.7
29                            37217     28,885       33.0
30                            37218     15,044       41.6
31                            37219      1,039       37.1
32                            37220      5,611       43.9
33                            37221     39,313       40.3
34                            37228      1,226       35.5
35                            37240        717       19.8
36                            37243          0          -
37                            37246          0          -