In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [ ]:
housing_value_2020 = pd.read_csv("../data/housing_value_davidsoncountry2020.csv")
housing_value_2020

In [ ]:
housing_value_2011 = pd.read_csv("../data/housing_value_davidsoncounty2011.csv")
housing_value_2011

In [52]:
housing_value_2015 = pd.read_csv("../data/housing_value_davidsoncounty2015.csv")

In [56]:
#2011 dataframe 
value_2011df = pd.DataFrame(housing_value_2011)

df2011value = housing_value_2011.iloc[[91, 92, 93, 94, 95, 96, 97, 98, 99], [0, 1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49,
                                                                        53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97, 101,
                                                                        105, 109, 113, 117, 121, 125, 129, 133, 137, 141, 145, 
                                                                        149]]
                                                                         
df2011value.rename(columns={'ZCTA5 37013!!Estimate' : '37013', 'ZCTA5 37015!!Estimate':'37015',
                                'ZCTA5 37027!!Estimate':'37027', 'ZCTA5 37064!!Estimate':'37064',
                                 'ZCTA5 37072!!Estimate':'37072', 'ZCTA5 37076!!Estimate':'37076',
                                 'ZCTA5 37080!!Estimate':'37080', 'ZCTA5 37086!!Estimate':'37086',
                                 'ZCTA5 37115!!Estimate':'37115', 'ZCTA5 37122!!Estimate':'37122',
                                 'ZCTA5 37135!!Estimate':'37135', 'ZCTA5 37138!!Estimate':'37138',
                                 'ZCTA5 37143!!Estimate':'37143', 'ZCTA5 37189!!Estimate':'37189',
                               'ZCTA5 37201!!Estimate':'37201', 'ZCTA5 37203!!Estimate':'37203',
                                'ZCTA5 37204!!Estimate':'37204', 'ZCTA5 37205!!Estimate':'37205',
                                 'ZCTA5 37206!!Estimate':'37206', 'ZCTA5 37207!!Estimate':'37207',
                                'ZCTA5 37208!!Estimate':'37208', 'ZCTA5 37209!!Estimate':'37209',
                               'ZCTA5 37210!!Estimate':'37210', 'ZCTA5 37211!!Estimate':'37211',
                                 'ZCTA5 37212!!Estimate':'37212', 'ZCTA5 37213!!Estimate':'37213',
                                 'ZCTA5 37214!!Estimate':'37214', 'ZCTA5 37215!!Estimate':'37215',
                                'ZCTA5 37216!!Estimate':'37216', 'ZCTA5 37217!!Estimate':'37217',
                                'ZCTA5 37218!!Estimate':'37218', 'ZCTA5 37219!!Estimate':'37219',
                                'ZCTA5 37220!!Estimate':'37220', 'ZCTA5 37221!!Estimate':'37221',
                                'ZCTA5 37228!!Estimate':'37228', 'ZCTA5 37240!!Estimate': '37240',
                                 'ZCTA5 37243!!Estimate': '37243', 'ZCTA5 37246!!Estimate': '37246'}, inplace=True) 
df2011value

df2011value = df2011value.transpose()

df2011value.reset_index(level=0, inplace=True)

df2011value = df2011value.drop([df2011value.index[0]])

df2011value.rename(columns={'index': 'zip_code', 91: '2011 Less than 50,000', 92:'2011 50,000-99,999', 93:'2011 100,000-149,999', 94: '2011 150,000-199,999', 95: '2011 200,000-299,999',
                           96: '2011 300,000-499,999', 97: '2011 500,000-999,999', 98:'2011 1,000,000-+', 99: '2011 Median Value'}, inplace=True)
df2011value.head()

,zip_code,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value
1,37013,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000"
2,37015,497,858,"1,413","1,071",782,266,110,41,"139,100"
3,37027,117,95,318,679,"1,865","6,339","4,659","1,053","444,100"
4,37064,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500"
5,37072,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500"

In [57]:
#201 dataframe 
value_2015df = pd.DataFrame(housing_value_2015)

df2015value = housing_value_2015.iloc[[92, 93, 94, 95, 96, 97, 98, 99, 100], [0, 1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49,
                                                                        53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97, 101,
                                                                        105, 109, 113, 117, 121, 125, 129, 133, 137, 141, 145, 
                                                                        149]]
                                                                         
df2015value.rename(columns={'ZCTA5 37013!!Estimate' : '37013', 'ZCTA5 37015!!Estimate':'37015',
                                'ZCTA5 37027!!Estimate':'37027', 'ZCTA5 37064!!Estimate':'37064',
                                 'ZCTA5 37072!!Estimate':'37072', 'ZCTA5 37076!!Estimate':'37076',
                                 'ZCTA5 37080!!Estimate':'37080', 'ZCTA5 37086!!Estimate':'37086',
                                 'ZCTA5 37115!!Estimate':'37115', 'ZCTA5 37122!!Estimate':'37122',
                                 'ZCTA5 37135!!Estimate':'37135', 'ZCTA5 37138!!Estimate':'37138',
                                 'ZCTA5 37143!!Estimate':'37143', 'ZCTA5 37189!!Estimate':'37189',
                               'ZCTA5 37201!!Estimate':'37201', 'ZCTA5 37203!!Estimate':'37203',
                                'ZCTA5 37204!!Estimate':'37204', 'ZCTA5 37205!!Estimate':'37205',
                                 'ZCTA5 37206!!Estimate':'37206', 'ZCTA5 37207!!Estimate':'37207',
                                'ZCTA5 37208!!Estimate':'37208', 'ZCTA5 37209!!Estimate':'37209',
                               'ZCTA5 37210!!Estimate':'37210', 'ZCTA5 37211!!Estimate':'37211',
                                 'ZCTA5 37212!!Estimate':'37212', 'ZCTA5 37213!!Estimate':'37213',
                                 'ZCTA5 37214!!Estimate':'37214', 'ZCTA5 37215!!Estimate':'37215',
                                'ZCTA5 37216!!Estimate':'37216', 'ZCTA5 37217!!Estimate':'37217',
                                'ZCTA5 37218!!Estimate':'37218', 'ZCTA5 37219!!Estimate':'37219',
                                'ZCTA5 37220!!Estimate':'37220', 'ZCTA5 37221!!Estimate':'37221',
                                'ZCTA5 37228!!Estimate':'37228', 'ZCTA5 37240!!Estimate': '37240',
                                 'ZCTA5 37243!!Estimate': '37243', 'ZCTA5 37246!!Estimate': '37246'}, inplace=True) 
df2015value

df2015value = df2015value.transpose()

df2015value.reset_index(level=0, inplace=True)

df2015value = df2015value.drop([df2015value.index[0]])

df2015value.rename(columns={'index': 'zip_code', 92: '2015 Less than 50,000', 93:'2015 50,000-99,999', 94:'2015 100,000-149,999', 95: '2015 150,000-199,999', 96: '2015 200,000-299,999',
                           97: '2015 300,000-499,999', 98: '2015 500,000-999,999', 99:'2015 1,000,000-+', 100: '2015 Median Value'}, inplace=True)
df2015value.head()

,zip_code,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value
1,37013,620,"1,800","6,982","5,845","2,160",481,149,66,"147,600"
2,37015,399,972,"1,472",870,996,249,67,8,"139,800"
3,37027,219,106,373,687,"1,702","6,300","5,644","1,014","456,000"
4,37064,527,312,"1,120","1,206","3,583","5,573","2,199",438,"319,200"
5,37072,533,430,"1,918","2,232","1,838","1,186",183,59,"172,200"

In [58]:
#2020 dataframe 
value_2020df = pd.DataFrame(housing_value_2020)

df2020value = housing_value_2020.iloc[[92, 93, 94, 95, 96, 97, 98, 99, 100], [0, 1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49,
                                                                        53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97, 101,
                                                                        105, 109, 113, 117, 121, 125, 129, 133, 137, 141,145, 
                                                                        149]]
                                                                         
df2020value.rename(columns={'ZCTA5 37013!!Estimate' : '37013', 'ZCTA5 37015!!Estimate':'37015',
                                'ZCTA5 37027!!Estimate':'37027', 'ZCTA5 37064!!Estimate':'37064',
                                 'ZCTA5 37072!!Estimate':'37072', 'ZCTA5 37076!!Estimate':'37076',
                                 'ZCTA5 37080!!Estimate':'37080', 'ZCTA5 37086!!Estimate':'37086',
                                 'ZCTA5 37115!!Estimate':'37115', 'ZCTA5 37122!!Estimate':'37122',
                                 'ZCTA5 37135!!Estimate':'37135', 'ZCTA5 37138!!Estimate':'37138',
                                 'ZCTA5 37143!!Estimate':'37143', 'ZCTA5 37189!!Estimate':'37189',
                               'ZCTA5 37201!!Estimate':'37201', 'ZCTA5 37203!!Estimate':'37203',
                                'ZCTA5 37204!!Estimate':'37204', 'ZCTA5 37205!!Estimate':'37205',
                                 'ZCTA5 37206!!Estimate':'37206', 'ZCTA5 37207!!Estimate':'37207',
                                'ZCTA5 37208!!Estimate':'37208', 'ZCTA5 37209!!Estimate':'37209',
                               'ZCTA5 37210!!Estimate':'37210', 'ZCTA5 37211!!Estimate':'37211',
                                 'ZCTA5 37212!!Estimate':'37212', 'ZCTA5 37213!!Estimate':'37213',
                                 'ZCTA5 37214!!Estimate':'37214', 'ZCTA5 37215!!Estimate':'37215',
                                'ZCTA5 37216!!Estimate':'37216', 'ZCTA5 37217!!Estimate':'37217',
                                'ZCTA5 37218!!Estimate':'37218', 'ZCTA5 37219!!Estimate':'37219',
                                'ZCTA5 37220!!Estimate':'37220', 'ZCTA5 37221!!Estimate':'37221',
                                'ZCTA5 37228!!Estimate':'37228', 'ZCTA5 37240!!Estimate': '37240',
                                 'ZCTA5 37243!!Estimate': '37243', 'ZCTA5 37246!!Estimate': '37246'}, inplace=True) 
df2020value

df2020value = df2020value.transpose()

df2020value.reset_index(level=0, inplace=True)

df2020value = df2020value.drop([df2020value.index[0]])

df2020value.rename(columns={'index': 'zip_code', 92: '2020 Less than 50,000', 93:'2020 50,000-99,999', 94:'2020 100,000-149,999', 95: '2020 150,000-199,999', 96: '2020 200,000-299,999',
                           97: '2020 300,000-499,999', 98: '2020 500,000-999,999', 99:'2020 1,000,000-+', 100: '2020 Median Value'}, inplace=True)
df2020value.head()

,zip_code,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
1,37013,636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
2,37015,258,562,"1,118",992,"1,253",625,185,0,"175,400"
3,37027,159,49,177,262,911,"3,937","9,768","1,891","627,700"
4,37064,236,70,318,522,"1,768","7,203","6,153",921,"460,900"
5,37072,401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [59]:
#still need to merge all the dataframes together. Need to think of a better way to name these...but code for each individual dataframe is done.
#overall Final Income Dataframe
value_df = reduce(lambda left, right:
                      pd.merge(left, right,
                              on=['zip_code']),
                      [df2011value, df2015value, df2020value])
value_df.head()

,zip_code,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,...,2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000",...,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,497,858,"1,413","1,071",782,266,110,41,"139,100",...,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,117,95,318,679,"1,865","6,339","4,659","1,053","444,100",...,"456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500",...,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500",...,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [62]:
value_df.to_csv(r'C:\Users\sarah\Documents\DA7\projects\repos\breweries-middletn\data\value_dataframe.csv', index=False, header=True)
value_df

,zip_code,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,...,2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000",...,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,497,858,"1,413","1,071",782,266,110,41,"139,100",...,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,117,95,318,679,"1,865","6,339","4,659","1,053","444,100",...,"456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500",...,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500",...,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"
5,37076,159,713,"3,128","2,404","1,948",492,39,0,"156,600",...,"159,800",105,227,"1,290","2,030","3,653","2,126",266,0,"230,900"
6,37080,97,322,608,681,271,243,55,15,"158,800",...,"169,000",50,143,357,461,944,356,65,34,"227,800"
7,37086,290,"1,182","3,530","1,894",731,50,0,7,"134,900",...,"124,200",206,552,"1,901","2,341","2,517",482,222,9,"178,300"
8,37115,386,"1,497","3,314","1,553",495,227,37,6,"123,400",...,"122,700",302,470,"1,656","1,683","2,150",883,145,17,"184,900"
9,37122,626,330,"1,765","3,678","4,553","2,356",585,152,"210,900",...,"223,700",459,145,819,"1,237","5,897","7,488","1,668",123,"307,700"
10,37135,36,81,56,258,987,"1,169",249,0,"300,000",...,"311,100",24,0,49,12,359,"3,024","1,461",52,"441,700"
11,37138,206,668,"2,055","1,664","1,378",753,303,84,"166,600",...,"169,000",180,346,582,"1,678","2,323","1,711",541,16,"239,800"
12,37143,21,99,224,407,424,146,0,10,"189,000",...,"178,400",18,9,112,248,583,281,17,0,"234,900"
13,37189,9,103,223,271,134,196,11,0,"172,500",...,"162,500",0,73,110,278,439,424,118,10,"236,100"
14,37201,0,0,46,39,56,21,0,5,"194,600",...,"208,200",0,0,67,0,38,204,59,0,"374,500"
15,37203,9,199,288,168,469,97,37,0,"193,900",...,"235,800",49,7,26,25,281,918,477,45,"380,200"
16,37204,27,62,193,366,"1,002","1,305",259,134,"302,800",...,"358,300",63,22,21,66,235,923,"1,657",464,"602,500"
17,37205,59,74,247,548,"1,130","2,268","1,996","1,029","415,100",...,"443,900",97,39,102,109,770,"1,705","3,076","1,481","613,300"
18,37206,163,817,"1,506","1,187",986,569,177,21,"157,700",...,"193,200",47,103,91,364,"1,401","2,440","1,306",11,"359,600"
19,37207,645,"1,638","3,007","1,253",536,115,24,13,"117,600",...,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700"
20,37208,104,930,446,304,229,99,112,9,"106,900",...,"115,700",27,159,166,389,608,794,359,18,"288,100"
21,37209,223,971,"1,511","1,564","1,555",622,156,42,"169,200",...,"188,000",79,86,253,516,"1,762","3,394","1,388",135,"351,600"
22,37210,102,712,949,244,91,46,0,10,"113,400",...,"118,500",55,122,252,331,978,351,30,8,"227,100"
23,37211,342,"1,599","3,945","3,680","2,826","1,360",58,45,"162,400",...,"162,700",278,609,"1,274","1,960","4,770","4,679",365,65,"250,900"
24,37212,12,104,174,139,479,"1,043",686,26,"381,000",...,"433,000",21,21,57,45,115,814,"1,311",473,"592,800"
25,37213,0,0,0,0,0,0,0,0,-,...,-,0,0,0,0,0,0,0,0,-
26,37214,101,"1,141","3,796","2,318","1,090",363,62,0,"141,800",...,"142,400",148,388,"1,670","1,711","3,005","1,575",120,36,"212,300"
27,37215,49,169,289,471,"1,077","2,171","2,121","1,049","453,300",...,"510,300",51,33,45,173,684,"1,346","4,254","1,585","682,600"
28,37216,179,766,"2,045","1,417",757,167,21,9,"142,600",...,"158,700",64,57,315,507,"2,147","2,481",250,0,"293,800"
29,37217,127,"1,007","1,737","1,601",199,62,40,24,"138,100",...,"131,000",92,367,997,"1,699","2,236",460,10,29,"194,800"
30,37218,161,"1,204","1,110",619,535,138,70,28,"121,000",...,"128,500",194,429,475,976,"1,135",570,25,23,"191,900"
31,37219,0,0,11,29,46,30,0,0,"226,500",...,"275,600",0,0,0,0,127,37,26,0,"277,100"
32,37220,58,16,62,63,829,594,342,222,"316,600",...,"346,700",0,30,0,0,240,816,799,318,"506,500"
33,37221,113,372,"1,338","2,549","4,429","1,846",745,136,"226,700",...,"225,800",185,98,423,"1,033","4,372","5,231","1,368",84,"307,400"
34,37228,0,0,0,0,0,0,0,0,-,...,-,0,0,0,0,0,0,0,0,-
35,37240,0,0,0,0,0,0,0,0,-,...,-,0,0,0,0,0,0,0,0,-
36,37243,0,0,0,0,0,0,0,0,-,...,-,0,0,0,0,0,0,0,0,-
37,37246,0,0,0,0,0,0,0,0,-,...,-,0,0,0,0,0,0,0,0,-