In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [2]:
zipcodes_df = pd.read_csv("../data/zipcodes_df.csv")
zipcodes_df.head()

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,...,2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,"30,245","48,198","18,524","57,348","12,583","67,580","11,721","37,043","33,117",...,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,"6,577","45,018","4,545","53,102","3,186","63,900","2,032","26,038","6,734",...,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,"17,346","113,696","13,954","131,049","12,646","140,678","3,392","49,671","18,642",...,"456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,"17,869","72,798","13,549","87,741","11,289","100,782","4,320","38,988","19,527",...,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,"11,747","51,353","8,158","61,942","6,211","69,528","3,589","35,430","12,458",...,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [13]:
zipcodes = zipcodes_df[['zip_code','2011 total household','2011 household median income', '2011 Median Value', '2011 population',
                       '2015 total household', '2015 household median income', '2015 Median Value', '2015 population',
                       '2020 total household', '2020 household median income', '2020 Median Value', '2020 population']]

zipcodes = zipcodes.replace(',', '', regex=True)
zipcodes

zipcodes = zipcodes.replace('-', '0', regex=True)
zipcodes

zipcodes['zip_code'] = zipcodes[['zip_code']].astype(str)
zipcodes

zipcodes[['2011 total household','2011 household median income', '2011 Median Value', '2011 population','2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']] = zipcodes[['2011 total household','2011 household median income', '2011 Median Value', '2011 population', '2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']].astype(int)
zipcodes

zipcodes = zipcodes.drop(zipcodes.index[36]).drop(zipcodes.index[37])
zipcodes

,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population
0,37013,30245,48198,148000,76983,33117,48423,147600,90073,36217,60602,205800,99109
1,37015,6577,45018,139100,16976,6734,47253,139800,18361,6821,59144,175400,17835
2,37027,17346,113696,444100,48067,18642,119570,456000,53242,20608,133254,627700,57096
3,37064,17869,72798,303500,48318,19527,80898,319200,53212,21795,105342,460900,60272
4,37072,11747,51353,174500,29279,12458,57846,172200,31392,12869,62655,237500,31134
5,37076,15205,52428,156600,36970,15720,52193,159800,37749,16682,64392,230900,38647
6,37080,2807,58358,158800,7609,2895,54611,169000,7079,3143,63201,227800,7537
7,37086,10221,53803,134900,30917,10342,53672,124200,33054,11552,64130,178300,34362
8,37115,16037,36826,123400,36839,16025,35758,122700,39846,17024,46777,184900,39573
9,37122,16301,72445,210900,44711,18587,74866,223700,51660,22013,92944,307700,61002
10,37135,2979,97438,300000,8509,3516,103333,311100,10374,5356,128281,441700,17318
11,37138,8878,55741,166600,21416,8933,58849,169000,23408,9369,73710,239800,23789
12,37143,1515,64063,189000,4167,1378,57635,178400,3847,1459,71094,234900,3905
13,37189,1323,46068,172500,3763,1258,48115,162500,3476,1717,74963,236100,4453
14,37201,435,51678,194600,1590,681,58508,208200,1870,620,92827,374500,1745
15,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
16,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908
17,37205,10525,82476,415100,23263,10875,86824,443900,24341,10999,107876,613300,23680
18,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
19,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
20,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
21,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
22,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810
23,37211,28678,43858,162400,73475,29828,42392,162700,77960,29353,59075,250900,75199
24,37212,6269,50531,381000,17920,6583,54140,433000,20130,7149,71699,592800,20672
25,37213,39,29125,0,208,0,0,0,125,21,0,0,40
26,37214,13360,48684,141800,29911,13227,52743,142400,29555,13890,61206,212300,30217
27,37215,9662,90899,453300,21380,9708,103693,510300,21691,10541,122715,682600,23044
28,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081
29,37217,11882,41957,138100,29848,12273,42455,131000,28885,12724,50423,194800,30947
30,37218,5239,46829,121000,14441,5290,42733,128500,15044,5816,46434,191900,15582
31,37219,735,44543,226500,975,856,50700,275600,1039,777,85463,277100,1043
32,37220,2374,95878,316600,5921,2316,104297,346700,5611,2368,117917,506500,5894
33,37221,16297,66982,226700,38054,16446,71726,225800,39313,18140,85933,307400,41736
34,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528
35,37240,87,57847,0,988,0,0,0,717,0,0,0,759

In [5]:
brews_df = pd.read_csv("../data/breweries_final_dataframe.csv")
brews_df

brews = brews_df[['name', 'opening', 'neighborhood', 'address','zip_code','2011 total household','2011 household median income', '2011 Median Value', '2011 population',
                       '2015 total household', '2015 household median income', '2015 Median Value', '2015 population',
                       '2020 total household', '2020 household median income', '2020 Median Value', '2020 population']]

brews = brews.replace(',', '', regex=True)
brews

brews = brews.replace('-', '0', regex=True)
brews

brews['zip_code'] = brews[['zip_code']].astype(str)
brews

brews[['2011 total household','2011 household median income', '2011 Median Value', '2011 population','2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']] = brews[['2011 total household','2011 household median income', '2011 Median Value', '2011 population', '2015 total household', '2015 household median income', '2015 Median Value', '2015 population','2020 total household', '2020 household median income', '2020 Median Value', '2020 population']].astype(int)
brews

,name,opening,neighborhood,address,zip_code,2011 total household,2011 household median income,2011 Median Value,2011 population,2015 total household,2015 household median income,2015 Median Value,2015 population,2020 total household,2020 household median income,2020 Median Value,2020 population
0,Tennessee Brew Works,2013,SoBro,809 Ewing Ave,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
1,Jackalope Brewing Company 0 The Ranch,2018,Wedgewood0Houston,429B Houston St,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
2,New Heights Brewing Company,2016,South Nashville,928 Rep John Lewis Way S,37203,4915,25852,193900,10465,5777,33072,235800,12068,10201,58032,380200,16772
3,Southern Grist Brewing,2016,Cleveland Park,754 Douglas Ave,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
4,East Nashville Beer Works,2016,East Nashville,320 E Trinity Ln,37207,12745,30780,117600,32074,13591,32396,120900,35497,15151,50583,186700,39151
5,Bearded Iris Brewing,2016,Germantown,101 Van Buren St,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
6,Monday Night Brewing,2021,Germantown,1308 Adams St,37208,6317,22679,106900,16331,6747,27280,115700,16251,8415,47903,288100,18375
7,The Black Abbey Brewing Company,2013,South Nashville,2952 Sidco Dr,37204,5341,62818,302800,12422,5531,69482,358300,13169,6080,89954,602500,15908
8,Fat Bottom Brewing,2012,The Nations,800 44th Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
9,Bold Patriot Brewing Company,2020,Charlotte,410 39th Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
10,Blackstone Brewing Company,2015,Midtown,2312 Clifton Ave,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
11,Czanns Brewing Company,2021,The Nations,4909 Indiana Ave,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
12,Harding House Brewing Company,2018,The Nations,904 51st Ave N,37209,13840,41023,169200,35179,14132,45224,188000,37308,16513,61096,351600,37852
13,Crazy Gnome Brewery,2020,Edgefield,948 Main St,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
14,Smith & Lentz Brewing,2015,East Nashville,903 Main St,37206,10721,32697,157700,25772,10849,43782,193200,26323,11584,66065,359600,27055
15,Fait La Force Brewing,2019,South Nashville,1414 3rd Ave S,37210,5875,25662,113400,14876,6536,29035,118500,16326,7337,36985,227100,16810
16,Living Waters Brewing,2019,East Nashville,1056 E Trinity Ln,37216,7812,46033,142600,18912,7834,45472,158700,18479,8244,62214,293800,18081
17,Barrique Brewing And Blending,2021,South Nashville,30 Oldham St,37213,39,29125,0,208,0,0,0,125,21,0,0,40
18,Honky Tonk Brewing,2015,Metro Center,240 Cumberland Bend,37228,695,15819,0,1366,635,15540,0,1226,1077,52344,0,1528

In [ ]:
brews['zip_code'].value_counts()