In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [7]:
housing_value_df = pd.read_csv("../data/value_dataframe.csv")

In [8]:
population_df = pd.read_csv("../data/population_dataframe.csv")

In [9]:
income_df = pd.read_csv("../data/income_dataframe.csv")

In [22]:
zipcodes_df_final = reduce(lambda left, right:
                      pd.merge(left, right,
                              on=['zip_code']),
                      [income_df, population_df, housing_value_df])

zipcodes_df_final = zipcodes_df_final.drop(zipcodes_df_final.columns[[15, 19, 20, 16, 21, 18, 22, 28, 25, 34]], axis=1, inplace=True)
zipcodes_df_final

In [13]:
breweries_df = pd.read_csv("../data/breweries_final_dataframe.csv")
breweries_df.head()

,name,rating,review_count,address,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville

In [19]:
breweries_df['zip_code'].unique()

array([37203, 37207, 37208, 37204, 37209, 37206, 37210, 37216, 37213,
       37228], dtype=int64)