In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce

%matplotlib inline
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [2]:
housing_value_df = pd.read_csv("../data/value_dataframe.csv")

In [3]:
population_df = pd.read_csv("../data/population_dataframe.csv")

In [4]:
income_df = pd.read_csv("../data/income_dataframe.csv")

In [5]:
zipcodes_df = reduce(lambda left, right:
                      pd.merge(left, right,
                              on=['zip_code']),
                      [income_df, population_df, housing_value_df])
zipcodes_df.head()

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value
0,37013,"30,245","48,198","18,524","57,348","12,583","67,580","11,721","37,043","33,117","48,423","20,499","56,074","13,443","67,487","12,618","38,067","36,217","60,602","23,302","66,420","15,188","76,702","12,915","47,725","76,983",31.2,"90,073",31.8,"99,109",31.8,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000",620,"1,800","6,982","5,845","2,160",481,149,66,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,"6,577","45,018","4,545","53,102","3,186","63,900","2,032","26,038","6,734","47,253","4,615","58,831","3,550","67,551","2,119","30,930","6,821","59,144","4,743","64,059","3,414","73,448","2,078","34,010","16,976",38.6,"18,361",39.7,"17,835",41.5,497,858,"1,413","1,071",782,266,110,41,"139,100",399,972,"1,472",870,996,249,67,8,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,"17,346","113,696","13,954","131,049","12,646","140,678","3,392","49,671","18,642","119,570","15,150","139,167","13,725","148,871","3,492","54,059","20,608","133,254","15,670","162,549","14,144","172,821","4,938","62,997","48,067",41.0,"53,242",41.2,"57,096",41.8,117,95,318,679,"1,865","6,339","4,659","1,053","444,100",219,106,373,687,"1,702","6,300","5,644","1,014","456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,"17,869","72,798","13,549","87,741","11,289","100,782","4,320","38,988","19,527","80,898","14,783","99,522","12,328",(X),"4,744","38,965","21,795","105,342","16,861","122,202","14,497","133,614","4,934","43,996","48,318",39.3,"53,212",40.0,"60,272",40.8,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500",527,312,"1,120","1,206","3,583","5,573","2,199",438,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,"11,747","51,353","8,158","61,942","6,211","69,528","3,589","35,430","12,458","57,846","8,262","67,047","5,942",(X),"4,196","35,781","12,869","62,655","8,205","80,254","5,827","89,630","4,664","41,850","29,279",41.8,"31,392",42.6,"31,134",43.4,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500",533,430,"1,918","2,232","1,838","1,186",183,59,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"

In [6]:
zipcodes_df_final = zipcodes_df.drop([15, 19, 20, 16, 21, 18, 22, 28, 25, 34, 36, 37, 35])
zipcodes_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 33
Data columns (total 58 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   zip_code                                    25 non-null     int64
 1   2011 total household                        25 non-null     object
 2   2011 household median income                25 non-null     object
 3   2011 total families                         25 non-null     object
 4   2011 families median income                 25 non-null     object
 5   2011 total married couple families          25 non-null     object
 6   2011 married couple families median income  25 non-null     object
 7   2011 total non family households            25 non-null     object
 8   2011 non family households median income    25 non-null     object
 9   2015 total household                        25 non-null     object
 10  2015 household median income                25 non-null     object
 11  2015 total families                         25 non-null     object
 12  2015 families median income                 25 non-null     object
 13  2015 total married couple families          25 non-null     object
 14  2015 married couple families median income  25 non-null     object
 15  2015 total non family households            25 non-null     object
 16  2015 non family households median income    25 non-null     object
 17  2020 total household                        25 non-null     object
 18  2020 household median income                25 non-null     object
 19  2020 total families                         25 non-null     object
 20  2020 families median income                 25 non-null     object
 21  2020 total married couple families          25 non-null     object
 22  2020 married couple families median income  25 non-null     object
 23  2020 total non family households            25 non-null     object
 24  2020 non family households median income    25 non-null     object
 25  2011 population                             25 non-null     object
 26  2011 median age                             25 non-null     object
 27  2015 population                             25 non-null     object
 28  2015 median age                             25 non-null     object
 29  2020 population                             25 non-null     object
 30  2020 median age                             25 non-null     object
 31  2011 Less than 50,000                       25 non-null     int64
 32  2011 50,000-99,999                          25 non-null     object
 33  2011 100,000-149,999                        25 non-null     object
 34  2011 150,000-199,999                        25 non-null     object
 35  2011 200,000-299,999                        25 non-null     object
 36  2011 300,000-499,999                        25 non-null     object
 37  2011 500,000-999,999                        25 non-null     object
 38  2011 1,000,000-+                            25 non-null     object
 39  2011 Median Value                           25 non-null     object
 40  2015 Less than 50,000                       25 non-null     int64
 41  2015 50,000-99,999                          25 non-null     object
 42  2015 100,000-149,999                        25 non-null     object
 43  2015 150,000-199,999                        25 non-null     object
 44  2015 200,000-299,999                        25 non-null     object
 45  2015 300,000-499,999                        25 non-null     object
 46  2015 500,000-999,999                        25 non-null     object
 47  2015 1,000,000-+                            25 non-null     object
 48  2015 Median Value                           25 non-null     object
 49  2020 Less than 50,000                       25 non-null     int64
 50  2020 50,000-99,999                          25 non-null     int64
 51  2020 100,000-149,999                        25 non-null     object
 52  2020 150,000-199,999                        25 non-null     object
 53  2020 200,000-299,999                        25 non-null     object
 54  2020 300,000-499,999                        25 non-null     object
 55  2020 500,000-999,999                        25 non-null     object
 56  2020 1,000,000-+                            25 non-null     object
 57  2020 Median Value                           25 non-null     object
dtypes: int64(5), object(53)
memory usage: 11.5+ KB

In [9]:

zipcodes_df_final

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,2011 Less than 50000,2011 50000-99999,2011 100000-149999,2011 150000-199999,2011 200000-299999,2011 300000-499999,2011 500000-999999,2011 1000000-+,2011 Median Value,2015 Less than 50000,2015 50000-99999,2015 100000-149999,2015 150000-199999,2015 200000-299999,2015 300000-499999,2015 500000-999999,2015 1000000-+,2015 Median Value,2020 Less than 50000,2020 50000-99999,2020 100000-149999,2020 150000-199999,2020 200000-299999,2020 300000-499999,2020 500000-999999,2020 1000000-+,2020 Median Value
0,37013,"30,245","48,198","18,524","57,348","12,583","67,580","11,721","37,043","33,117","48,423","20,499","56,074","13,443","67,487","12,618","38,067","36,217","60,602","23,302","66,420","15,188","76,702","12,915","47,725","76,983",31.2,"90,073",31.8,"99,109",31.8,521,"1,374","7,447","5,266","2,712",472,166,39,"148,000",620,"1,800","6,982","5,845","2,160",481,149,66,"147,600",636,727,"2,716","5,454","7,622","2,623",241,188,"205,800"
1,37015,"6,577","45,018","4,545","53,102","3,186","63,900","2,032","26,038","6,734","47,253","4,615","58,831","3,550","67,551","2,119","30,930","6,821","59,144","4,743","64,059","3,414","73,448","2,078","34,010","16,976",38.6,"18,361",39.7,"17,835",41.5,497,858,"1,413","1,071",782,266,110,41,"139,100",399,972,"1,472",870,996,249,67,8,"139,800",258,562,"1,118",992,"1,253",625,185,0,"175,400"
2,37027,"17,346","113,696","13,954","131,049","12,646","140,678","3,392","49,671","18,642","119,570","15,150","139,167","13,725","148,871","3,492","54,059","20,608","133,254","15,670","162,549","14,144","172,821","4,938","62,997","48,067",41.0,"53,242",41.2,"57,096",41.8,117,95,318,679,"1,865","6,339","4,659","1,053","444,100",219,106,373,687,"1,702","6,300","5,644","1,014","456,000",159,49,177,262,911,"3,937","9,768","1,891","627,700"
3,37064,"17,869","72,798","13,549","87,741","11,289","100,782","4,320","38,988","19,527","80,898","14,783","99,522","12,328",(X),"4,744","38,965","21,795","105,342","16,861","122,202","14,497","133,614","4,934","43,996","48,318",39.3,"53,212",40.0,"60,272",40.8,393,376,903,"1,649","3,672","4,785","2,007",434,"303,500",527,312,"1,120","1,206","3,583","5,573","2,199",438,"319,200",236,70,318,522,"1,768","7,203","6,153",921,"460,900"
4,37072,"11,747","51,353","8,158","61,942","6,211","69,528","3,589","35,430","12,458","57,846","8,262","67,047","5,942",(X),"4,196","35,781","12,869","62,655","8,205","80,254","5,827","89,630","4,664","41,850","29,279",41.8,"31,392",42.6,"31,134",43.4,569,596,"1,748","2,277","1,697","1,088",257,20,"174,500",533,430,"1,918","2,232","1,838","1,186",183,59,"172,200",401,247,693,"1,677","3,288","2,160",353,50,"237,500"
5,37076,"15,205","52,428","8,960","66,493","6,311","79,106","6,245","36,451","15,720","52,193","8,843","66,980","6,118","77,934","6,877","38,094","16,682","64,392","9,868","76,003","7,082","94,052","6,814","47,329","36,970",35.1,"37,749",34.0,"38,647",35.9,159,713,"3,128","2,404","1,948",492,39,0,"156,600",123,707,"2,747","2,388","1,861",598,16,8,"159,800",105,227,"1,290","2,030","3,653","2,126",266,0,"230,900"
6,37080,"2,807","58,358","2,214","67,422","1,872","69,775",593,"31,116","2,895","54,611","2,035","70,445","1,832",(X),860,"26,292","3,143","63,201","2,068","69,474","1,627","80,592","1,075","50,991","7,609",40.3,"7,079",48.7,"7,537",47.3,97,322,608,681,271,243,55,15,"158,800",178,270,479,621,458,314,50,0,"169,000",50,143,357,461,944,356,65,34,"227,800"
7,37086,"10,221","53,803","7,610","57,718","5,231","67,190","2,611","41,381","10,342","53,672","7,995","54,732","5,277","65,821","2,347","40,870","11,552","64,130","8,990","70,556","6,000","78,712","2,562","40,522","30,917",30.8,"33,054",31.5,"34,362",31.6,290,"1,182","3,530","1,894",731,50,0,7,"134,900",334,"1,345","3,681","1,464",635,43,0,0,"124,200",206,552,"1,901","2,341","2,517",482,222,9,"178,300"
8,37115,"16,037","36,826","8,724","44,893","5,178","54,722","7,313","25,507","16,025","35,758","8,959","43,642","4,977","55,643","7,066","25,994","17,024","46,777","8,870","57,212","4,935","69,942","8,154","36,270","36,839",37.0,"39,846",35.2,"39,573",36.5,386,"1,497","3,314","1,553",495,227,37,6,"123,400",480,"1,553","2,657","1,425",684,177,41,37,"122,700",302,470,"1,656","1,683","2,150",883,145,17,"184,900"
9,37122,"16,301","72,445","13,061","78,840","10,751","89,845","3,240","41,169","18,587","74,866","14,682","82,082","12,134","90,246","3,905","43,626","22,013","92,944","17,254","106,974","15,059","114,625","4,759","51,398","44,711",38.0,"51,660",38.9,"61,002",41.0,626,330,"1,765","3,678","4,553","2,356",585,152,"210,900",587,163,"1,987","3,692","5,655","2,946",692,73,"223,700",459,145,819,"1,237","5,897","7,488","1,668",123,"307,700"
10,37135,"2,979","97,438","2,468","106,509","2,212","111,415",511,"52,122","3,516","103,333","2,908","110,806","2,547","117,043",608,"55,992","5,356","128,281","4,598","139,286","4,281","145,286",758,"68,082","8,509",36.2,"10,374",34.9,"17,318",37.9,36,81,56,258,987,"1,169",249,0,"300,000",42,0,68,301,"1,114","1,345",404,0,"311,100",24,0,49,12,359,"3,024","1,461",52,"441,700"
11,37138,"8,878","55,741","6,083","69,392","5,044","75,778","2,795","27,307","8,933","58,849","6,120","71,879","4,864","81,040","2,813","37,996","9,369","73,710","6,516","86,040","5,142","95,000","2,853","44,069","21,416",40.0,"23,408",40.8,"23,789",42.5,206,668,"2,055","1,664","1,378",753,303,84,"166,600",394,589,"1,538","1,911","1,336",860,306,26,"169,000",180,346,582,"1,678","2,323","1,711",541,16,"239,800"
12,37143,"1,515","64,063","1,223","72,109","1,021","77,872",292,"22,778","1,378","57,635","1,075","60,958",726,(X),303,"44,583","1,459","71,094","1,050","80,761",827,"87,292",409,"52,961","4,167",41.8,"3,847",40.5,"3,905",41.3,21,99,224,407,424,146,0,10,"189,000",46,57,168,450,362,50,0,0,"178,400",18,9,112,248,583,281,17,0,"234,900"
13,37189,"1,323","46,068","1,009","51,417",742,"78,854",314,"36,447","1,258","48,115",891,"53,839",669,"64,115",367,"41,899","1,717","74,963","1,272","79,563","1,000","95,231",445,"60,750","3,763",38.1,"3,476",36.9,"4,453",42.3,9,103,223,271,134,196,11,0,"172,500",12,96,273,187,119,115,43,15,"162,500",0,73,110,278,439,424,118,10,"236,100"
14,37201,435,"51,678",61,"83,984",61,"83,984",374,"50,227",681,"58,508",131,"93,201",104,"94,024",550,"56,780",620,"92,827",99,"170,819",99,"170,819",521,"80,329","1,590",35.5,"1,870",32.2,"1,745",35.3,0,0,46,39,56,21,0,5,"194,600",0,0,56,70,121,20,0,0,"208,200",0,0,67,0,38,204,59,0,"374,500"
17,37205,"10,525","82,476","5,699","130,191","4,907","149,233","4,826","50,476","10,875","86,824","6,218","130,364","5,469",(X),"4,657","47,254","10,999","107,876","5,998","157,289","5,375","175,911","5,001","63,057","23,263",42.4,"24,341",44.9,"23,680",46.4,59,74,247,548,"1,130","2,268","1,996","1,029","415,100",132,137,178,513,"1,219","2,120","2,285","1,104","443,900",97,39,102,109,770,"1,705","3,076","1,481","613,300"
23,37211,"28,678","43,858","16,202","49,708","11,224","64,353","12,476","35,924","29,828","42,392","16,837","48,480","11,765","61,708","12,991","34,895","29,353","59,075","16,289","66,893","11,228","81,929","13,064","46,038","73,475",31.5,"77,960",32.1,"75,199",32.1,342,"1,599","3,945","3,680","2,826","1,360",58,45,"162,400",500,"1,422","3,914","2,915","2,896","1,585",89,27,"162,700",278,609,"1,274","1,960","4,770","4,679",365,65,"250,900"
24,37212,"6,269","50,531","2,089","92,266","1,630","113,750","4,180","35,881","6,583","54,140","2,436","92,857","1,937",(X),"4,147","40,079","7,149","71,699","3,106","147,594","2,539","149,115","4,043","44,846","17,920",24.1,"20,130",24.3,"20,672",25.4,12,104,174,139,479,"1,043",686,26,"381,000",26,31,87,117,372,"1,023",804,119,"433,000",21,21,57,45,115,814,"1,311",473,"592,800"
26,37214,"13,360","48,684","7,170","54,966","4,845","64,079","6,190","41,557","13,227","52,743","6,667","63,784","4,759","73,449","6,560","42,206","13,890","61,206","7,077","74,135","5,223","86,964","6,813","47,910","29,911",36.7,"29,555",38.1,"30,217",37.5,101,"1,141","3,796","2,318","1,090",363,62,0,"141,800",213,"1,119","3,402","2,512",994,202,0,9,"142,400",148,388,"1,670","1,711","3,005","1,575",120,36,"212,300"
27,37215,"9,662","90,899","5,452","134,083","4,693","153,769","4,210","48,654","9,708","103,693","5,488","161,523","4,958",(X),"4,220","55,909","10,541","122,715","6,522","171,493","5,922","187,500","4,019","61,483","21,380",43.3,"21,691",43.3,"23,044",45.2,49,169,289,471,"1,077","2,171","2,121","1,049","453,300",113,97,221,325,749,"2,179","2,809","1,037","510,300",51,33,45,173,684,"1,346","4,254","1,585","682,600"
29,37217,"11,882","41,957","6,319","48,323","4,117","59,161","5,563","34,731","12,273","42,455","6,045","46,379","3,823","52,904","6,228","31,955","12,724","50,423","6,846","53,651","3,932","69,309","5,878","46,706","29,848",30.8,"28,885",33.0,"30,947",32.5,127,"1,007","1,737","1,601",199,62,40,24,"138,100",147,757,"2,320","1,137",264,35,10,0,"131,000",92,367,997,"1,699","2,236",460,10,29,"194,800"
30,37218,"5,239","46,829","3,768","54,302","2,341","65,271","1,471","30,486","5,290","42,733","3,537","50,186","1,947",(X),"1,753","28,901","5,816","46,434","3,831","50,873","1,995","86,557","1,985","35,095","14,441",42.8,"15,044",41.6,"15,582",40.9,161,"1,204","1,110",619,535,138,70,28,"121,000",98,"1,066",934,664,570,173,66,48,"128,500",194,429,475,976,"1,135",570,25,23,"191,900"
31,37219,735,"44,543",125,"78,750",118,"71,250",610,"41,944",856,"50,700",94,"123,500",81,"123,036",762,(X),777,"85,463",137,-,137,-,640,"85,125",975,33.0,"1,039",37.1,"1,043",35.4,0,0,11,29,46,30,0,0,"226,500",16,0,0,35,86,65,30,0,"275,600",0,0,0,0,127,37,26,0,"277,100"
32,37220,"2,374","95,878","1,821","108,160","1,699","112,946",553,"72,702","2,316","104,297","1,744","119,500","1,598","131,211",572,"70,750","2,368","117,917","1,807","134,375","1,693","143,429",561,"76,350","5,921",45.3,"5,611",43.9,"5,894",44.3,58,16,62,63,829,594,342,222,"316,600",84,21,28,102,538,710,387,157,"346,700",0,30,0,0,240,816,799,318,"506,500"
33,37221,"16,297","66,982","9,917","83,920","8,068","96,870","6,380","47,142","16,446","71,726","10,162","94,890","8,488",(X),"6,284","46,939","18,140","85,933","10,744","101,213","8,702","111,356","7,396","55,474","38,054",38.1,"39,313",40.3,"41,736",39.7,113,372,"1,338","2,549","4,429","1,846",745,136,"226,700",158,440,"1,594","2,353","3,993","2,014",756,160,"225,800",185,98,423,"1,033","4,372","5,231","1,368",84,"307,400"

In [23]:
zipcodes_df_final = zipcodes_df_final.replace(',', '', regex=True)
zipcodes_df_final

,zip_code,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,2011 Less than 50000,2011 50000-99999,2011 100000-149999,2011 150000-199999,2011 200000-299999,2011 300000-499999,2011 500000-999999,2011 1000000-+,2011 Median Value,2015 Less than 50000,2015 50000-99999,2015 100000-149999,2015 150000-199999,2015 200000-299999,2015 300000-499999,2015 500000-999999,2015 1000000-+,2015 Median Value,2020 Less than 50000,2020 50000-99999,2020 100000-149999,2020 150000-199999,2020 200000-299999,2020 300000-499999,2020 500000-999999,2020 1000000-+,2020 Median Value
0,37013,30245,48198,18524,57348,12583,67580,11721,37043,33117,48423,20499,56074,13443,67487,12618,38067,36217,60602,23302,66420,15188,76702,12915,47725,76983,31.2,90073,31.8,99109,31.8,521,1374,7447,5266,2712,472,166,39,148000,620,1800,6982,5845,2160,481,149,66,147600,636,727,2716,5454,7622,2623,241,188,205800
1,37015,6577,45018,4545,53102,3186,63900,2032,26038,6734,47253,4615,58831,3550,67551,2119,30930,6821,59144,4743,64059,3414,73448,2078,34010,16976,38.6,18361,39.7,17835,41.5,497,858,1413,1071,782,266,110,41,139100,399,972,1472,870,996,249,67,8,139800,258,562,1118,992,1253,625,185,0,175400
2,37027,17346,113696,13954,131049,12646,140678,3392,49671,18642,119570,15150,139167,13725,148871,3492,54059,20608,133254,15670,162549,14144,172821,4938,62997,48067,41.0,53242,41.2,57096,41.8,117,95,318,679,1865,6339,4659,1053,444100,219,106,373,687,1702,6300,5644,1014,456000,159,49,177,262,911,3937,9768,1891,627700
3,37064,17869,72798,13549,87741,11289,100782,4320,38988,19527,80898,14783,99522,12328,(X),4744,38965,21795,105342,16861,122202,14497,133614,4934,43996,48318,39.3,53212,40.0,60272,40.8,393,376,903,1649,3672,4785,2007,434,303500,527,312,1120,1206,3583,5573,2199,438,319200,236,70,318,522,1768,7203,6153,921,460900
4,37072,11747,51353,8158,61942,6211,69528,3589,35430,12458,57846,8262,67047,5942,(X),4196,35781,12869,62655,8205,80254,5827,89630,4664,41850,29279,41.8,31392,42.6,31134,43.4,569,596,1748,2277,1697,1088,257,20,174500,533,430,1918,2232,1838,1186,183,59,172200,401,247,693,1677,3288,2160,353,50,237500
5,37076,15205,52428,8960,66493,6311,79106,6245,36451,15720,52193,8843,66980,6118,77934,6877,38094,16682,64392,9868,76003,7082,94052,6814,47329,36970,35.1,37749,34.0,38647,35.9,159,713,3128,2404,1948,492,39,0,156600,123,707,2747,2388,1861,598,16,8,159800,105,227,1290,2030,3653,2126,266,0,230900
6,37080,2807,58358,2214,67422,1872,69775,593,31116,2895,54611,2035,70445,1832,(X),860,26292,3143,63201,2068,69474,1627,80592,1075,50991,7609,40.3,7079,48.7,7537,47.3,97,322,608,681,271,243,55,15,158800,178,270,479,621,458,314,50,0,169000,50,143,357,461,944,356,65,34,227800
7,37086,10221,53803,7610,57718,5231,67190,2611,41381,10342,53672,7995,54732,5277,65821,2347,40870,11552,64130,8990,70556,6000,78712,2562,40522,30917,30.8,33054,31.5,34362,31.6,290,1182,3530,1894,731,50,0,7,134900,334,1345,3681,1464,635,43,0,0,124200,206,552,1901,2341,2517,482,222,9,178300
8,37115,16037,36826,8724,44893,5178,54722,7313,25507,16025,35758,8959,43642,4977,55643,7066,25994,17024,46777,8870,57212,4935,69942,8154,36270,36839,37.0,39846,35.2,39573,36.5,386,1497,3314,1553,495,227,37,6,123400,480,1553,2657,1425,684,177,41,37,122700,302,470,1656,1683,2150,883,145,17,184900
9,37122,16301,72445,13061,78840,10751,89845,3240,41169,18587,74866,14682,82082,12134,90246,3905,43626,22013,92944,17254,106974,15059,114625,4759,51398,44711,38.0,51660,38.9,61002,41.0,626,330,1765,3678,4553,2356,585,152,210900,587,163,1987,3692,5655,2946,692,73,223700,459,145,819,1237,5897,7488,1668,123,307700
10,37135,2979,97438,2468,106509,2212,111415,511,52122,3516,103333,2908,110806,2547,117043,608,55992,5356,128281,4598,139286,4281,145286,758,68082,8509,36.2,10374,34.9,17318,37.9,36,81,56,258,987,1169,249,0,300000,42,0,68,301,1114,1345,404,0,311100,24,0,49,12,359,3024,1461,52,441700
11,37138,8878,55741,6083,69392,5044,75778,2795,27307,8933,58849,6120,71879,4864,81040,2813,37996,9369,73710,6516,86040,5142,95000,2853,44069,21416,40.0,23408,40.8,23789,42.5,206,668,2055,1664,1378,753,303,84,166600,394,589,1538,1911,1336,860,306,26,169000,180,346,582,1678,2323,1711,541,16,239800
12,37143,1515,64063,1223,72109,1021,77872,292,22778,1378,57635,1075,60958,726,(X),303,44583,1459,71094,1050,80761,827,87292,409,52961,4167,41.8,3847,40.5,3905,41.3,21,99,224,407,424,146,0,10,189000,46,57,168,450,362,50,0,0,178400,18,9,112,248,583,281,17,0,234900
13,37189,1323,46068,1009,51417,742,78854,314,36447,1258,48115,891,53839,669,64115,367,41899,1717,74963,1272,79563,1000,95231,445,60750,3763,38.1,3476,36.9,4453,42.3,9,103,223,271,134,196,11,0,172500,12,96,273,187,119,115,43,15,162500,0,73,110,278,439,424,118,10,236100
14,37201,435,51678,61,83984,61,83984,374,50227,681,58508,131,93201,104,94024,550,56780,620,92827,99,170819,99,170819,521,80329,1590,35.5,1870,32.2,1745,35.3,0,0,46,39,56,21,0,5,194600,0,0,56,70,121,20,0,0,208200,0,0,67,0,38,204,59,0,374500
17,37205,10525,82476,5699,130191,4907,149233,4826,50476,10875,86824,6218,130364,5469,(X),4657,47254,10999,107876,5998,157289,5375,175911,5001,63057,23263,42.4,24341,44.9,23680,46.4,59,74,247,548,1130,2268,1996,1029,415100,132,137,178,513,1219,2120,2285,1104,443900,97,39,102,109,770,1705,3076,1481,613300
23,37211,28678,43858,16202,49708,11224,64353,12476,35924,29828,42392,16837,48480,11765,61708,12991,34895,29353,59075,16289,66893,11228,81929,13064,46038,73475,31.5,77960,32.1,75199,32.1,342,1599,3945,3680,2826,1360,58,45,162400,500,1422,3914,2915,2896,1585,89,27,162700,278,609,1274,1960,4770,4679,365,65,250900
24,37212,6269,50531,2089,92266,1630,113750,4180,35881,6583,54140,2436,92857,1937,(X),4147,40079,7149,71699,3106,147594,2539,149115,4043,44846,17920,24.1,20130,24.3,20672,25.4,12,104,174,139,479,1043,686,26,381000,26,31,87,117,372,1023,804,119,433000,21,21,57,45,115,814,1311,473,592800
26,37214,13360,48684,7170,54966,4845,64079,6190,41557,13227,52743,6667,63784,4759,73449,6560,42206,13890,61206,7077,74135,5223,86964,6813,47910,29911,36.7,29555,38.1,30217,37.5,101,1141,3796,2318,1090,363,62,0,141800,213,1119,3402,2512,994,202,0,9,142400,148,388,1670,1711,3005,1575,120,36,212300
27,37215,9662,90899,5452,134083,4693,153769,4210,48654,9708,103693,5488,161523,4958,(X),4220,55909,10541,122715,6522,171493,5922,187500,4019,61483,21380,43.3,21691,43.3,23044,45.2,49,169,289,471,1077,2171,2121,1049,453300,113,97,221,325,749,2179,2809,1037,510300,51,33,45,173,684,1346,4254,1585,682600
29,37217,11882,41957,6319,48323,4117,59161,5563,34731,12273,42455,6045,46379,3823,52904,6228,31955,12724,50423,6846,53651,3932,69309,5878,46706,29848,30.8,28885,33.0,30947,32.5,127,1007,1737,1601,199,62,40,24,138100,147,757,2320,1137,264,35,10,0,131000,92,367,997,1699,2236,460,10,29,194800
30,37218,5239,46829,3768,54302,2341,65271,1471,30486,5290,42733,3537,50186,1947,(X),1753,28901,5816,46434,3831,50873,1995,86557,1985,35095,14441,42.8,15044,41.6,15582,40.9,161,1204,1110,619,535,138,70,28,121000,98,1066,934,664,570,173,66,48,128500,194,429,475,976,1135,570,25,23,191900
31,37219,735,44543,125,78750,118,71250,610,41944,856,50700,94,123500,81,123036,762,(X),777,85463,137,-,137,-,640,85125,975,33.0,1039,37.1,1043,35.4,0,0,11,29,46,30,0,0,226500,16,0,0,35,86,65,30,0,275600,0,0,0,0,127,37,26,0,277100
32,37220,2374,95878,1821,108160,1699,112946,553,72702,2316,104297,1744,119500,1598,131211,572,70750,2368,117917,1807,134375,1693,143429,561,76350,5921,45.3,5611,43.9,5894,44.3,58,16,62,63,829,594,342,222,316600,84,21,28,102,538,710,387,157,346700,0,30,0,0,240,816,799,318,506500
33,37221,16297,66982,9917,83920,8068,96870,6380,47142,16446,71726,10162,94890,8488,(X),6284,46939,18140,85933,10744,101213,8702,111356,7396,55474,38054,38.1,39313,40.3,41736,39.7,113,372,1338,2549,4429,1846,745,136,226700,158,440,1594,2353,3993,2014,756,160,225800,185,98,423,1033,4372,5231,1368,84,307400

In [25]:
growth_df = zipcodes_df_final[['zip_code', '2011 population', '2015 population', '2020 population']]
growth_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 33
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   zip_code         25 non-null     int64
 1   2011 population  25 non-null     object
 2   2015 population  25 non-null     object
 3   2020 population  25 non-null     object
dtypes: int64(1), object(3)
memory usage: 1000.0+ bytes

In [28]:
growth_df[['2011 population','2015 population','2020 population']] = growth_df[['2011 population','2015 population','2020 population']].astype(int)
growth_df

C:\Users\sarah\AppData\Local\Temp\ipykernel_33532\508129943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  growth_df[['2011 population','2015 population','2020 population']] = growth_df[['2011 population','2015 population','2020 population']].astype(int)

    zip_code  2011 population  2015 population  2020 population
0      37013            76983            90073            99109
1      37015            16976            18361            17835
2      37027            48067            53242            57096
3      37064            48318            53212            60272
4      37072            29279            31392            31134
5      37076            36970            37749            38647
6      37080             7609             7079             7537
7      37086            30917            33054            34362
8      37115            36839            39846            39573
9      37122            44711            51660            61002
10     37135             8509            10374            17318
11     37138            21416            23408            23789
12     37143             4167             3847             3905
13     37189             3763             3476             4453
14     37201             1590             1870             1745
17     37205            23263            24341            23680
23     37211            73475            77960            75199
24     37212            17920            20130            20672
26     37214            29911            29555            30217
27     37215            21380            21691            23044
29     37217            29848            28885            30947
30     37218            14441            15044            15582
31     37219              975             1039             1043
32     37220             5921             5611             5894
33     37221            38054            39313            41736

In [36]:
growth_df['average growth'] = growth_df[['2011 population','2015 population','2020 population']].mean(1).round()

growth_df['growth rate'] = (growth_df['2020 population']-growth_df['2011 population'])/growth_df['2011 population']*100

growth_df

C:\Users\sarah\AppData\Local\Temp\ipykernel_33532\2536614942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  growth_df['average growth'] = growth_df[['2011 population','2015 population','2020 population']].mean(1).round()
C:\Users\sarah\AppData\Local\Temp\ipykernel_33532\2536614942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  growth_df['growth rate'] = (growth_df['2020 population']-growth_df['2011 population'])/growth_df['2011 population']*100

,zip_code,2011 population,2015 population,2020 population,average growth,growth rate
0,37013,76983,90073,99109,88722.0,28.741410
1,37015,16976,18361,17835,17724.0,5.060085
2,37027,48067,53242,57096,52802.0,18.784197
3,37064,48318,53212,60272,53934.0,24.740262
4,37072,29279,31392,31134,30602.0,6.335599
5,37076,36970,37749,38647,37789.0,4.536110
6,37080,7609,7079,7537,7408.0,-0.946248
7,37086,30917,33054,34362,32778.0,11.142737
8,37115,36839,39846,39573,38753.0,7.421483
9,37122,44711,51660,61002,52458.0,36.436224
10,37135,8509,10374,17318,12067.0,103.525679
11,37138,21416,23408,23789,22871.0,11.080501
12,37143,4167,3847,3905,3973.0,-6.287497
13,37189,3763,3476,4453,3897.0,18.336434
14,37201,1590,1870,1745,1735.0,9.748428
17,37205,23263,24341,23680,23761.0,1.792546
23,37211,73475,77960,75199,75545.0,2.346376
24,37212,17920,20130,20672,19574.0,15.357143
26,37214,29911,29555,30217,29894.0,1.023035
27,37215,21380,21691,23044,22038.0,7.782975
29,37217,29848,28885,30947,29893.0,3.681989
30,37218,14441,15044,15582,15022.0,7.901115
31,37219,975,1039,1043,1019.0,6.974359
32,37220,5921,5611,5894,5809.0,-0.456004
33,37221,38054,39313,41736,39701.0,9.675724

In [13]:
breweries_df = pd.read_csv("../data/breweries_final_dataframe.csv")
breweries_df.head()

,name,rating,review_count,address,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,"4,915","25,852","1,453","29,018",653,"60,139","3,462","24,882","5,777","33,072","1,876","45,833",967,(X),"3,901","28,461","10,201","58,032","1,925","66,527","1,230","90,441","8,276","54,482","10,465",28.6,"12,068",29.6,"16,772",31.1,9,199,288,168,469,97,37,0,"193,900",40,161,156,198,439,272,167,5,"235,800",49,7,26,25,281,918,477,45,"380,200",2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,"12,745","30,780","8,341","33,203","3,407","55,298","4,404","23,750","13,591","32,396","8,385","35,720","3,648","59,621","5,206","25,157","15,151","50,583","9,113","53,671","4,155","76,397","6,038","40,773","32,074",34.2,"35,497",34.9,"39,151",35.4,645,"1,638","3,007","1,253",536,115,24,13,"117,600",577,"2,007","2,774","1,389",656,247,9,30,"120,900",602,658,"1,882","1,707","2,294","1,360",210,80,"186,700",2016,East Nashville

In [14]:
breweries_df = breweries_df.replace(',', '', regex=True)
breweries_df

,name,rating,review_count,address,city,zip_code,state,2011 total household,2011 household median income,2011 total families,2011 families median income,2011 total married couple families,2011 married couple families median income,2011 total non family households,2011 non family households median income,2015 total household,2015 household median income,2015 total families,2015 families median income,2015 total married couple families,2015 married couple families median income,2015 total non family households,2015 non family households median income,2020 total household,2020 household median income,2020 total families,2020 families median income,2020 total married couple families,2020 married couple families median income,2020 total non family households,2020 non family households median income,2011 population,2011 median age,2015 population,2015 median age,2020 population,2020 median age,"2011 Less than 50,000","2011 50,000-99,999","2011 100,000-149,999","2011 150,000-199,999","2011 200,000-299,999","2011 300,000-499,999","2011 500,000-999,999","2011 1,000,000-+",2011 Median Value,"2015 Less than 50,000","2015 50,000-99,999","2015 100,000-149,999","2015 150,000-199,999","2015 200,000-299,999","2015 300,000-499,999","2015 500,000-999,999","2015 1,000,000-+",2015 Median Value,"2020 Less than 50,000","2020 50,000-99,999","2020 100,000-149,999","2020 150,000-199,999","2020 200,000-299,999","2020 300,000-499,999","2020 500,000-999,999","2020 1,000,000-+",2020 Median Value,opening,neighborhood
0,Tennessee Brew Works,4.5,459,809 Ewing Ave,Nashville,37203,TN,4915,25852,1453,29018,653,60139,3462,24882,5777,33072,1876,45833,967,(X),3901,28461,10201,58032,1925,66527,1230,90441,8276,54482,10465,28.6,12068,29.6,16772,31.1,9,199,288,168,469,97,37,0,193900,40,161,156,198,439,272,167,5,235800,49,7,26,25,281,918,477,45,380200,2013,SoBro
1,Jackalope Brewing Company - The Ranch,4.5,47,429B Houston St,Nashville,37203,TN,4915,25852,1453,29018,653,60139,3462,24882,5777,33072,1876,45833,967,(X),3901,28461,10201,58032,1925,66527,1230,90441,8276,54482,10465,28.6,12068,29.6,16772,31.1,9,199,288,168,469,97,37,0,193900,40,161,156,198,439,272,167,5,235800,49,7,26,25,281,918,477,45,380200,2018,Wedgewood-Houston
2,New Heights Brewing Company,4.5,100,928 Rep John Lewis Way S,Nashville,37203,TN,4915,25852,1453,29018,653,60139,3462,24882,5777,33072,1876,45833,967,(X),3901,28461,10201,58032,1925,66527,1230,90441,8276,54482,10465,28.6,12068,29.6,16772,31.1,9,199,288,168,469,97,37,0,193900,40,161,156,198,439,272,167,5,235800,49,7,26,25,281,918,477,45,380200,2016,South Nashville
3,Southern Grist Brewing,4.5,204,754 Douglas Ave,Nashville,37207,TN,12745,30780,8341,33203,3407,55298,4404,23750,13591,32396,8385,35720,3648,59621,5206,25157,15151,50583,9113,53671,4155,76397,6038,40773,32074,34.2,35497,34.9,39151,35.4,645,1638,3007,1253,536,115,24,13,117600,577,2007,2774,1389,656,247,9,30,120900,602,658,1882,1707,2294,1360,210,80,186700,2016,Cleveland Park
4,East Nashville Beer Works,4.0,111,320 E Trinity Ln,Nashville,37207,TN,12745,30780,8341,33203,3407,55298,4404,23750,13591,32396,8385,35720,3648,59621,5206,25157,15151,50583,9113,53671,4155,76397,6038,40773,32074,34.2,35497,34.9,39151,35.4,645,1638,3007,1253,536,115,24,13,117600,577,2007,2774,1389,656,247,9,30,120900,602,658,1882,1707,2294,1360,210,80,186700,2016,East Nashville
5,Bearded Iris Brewing,4.5,206,101 Van Buren St,Nashville,37208,TN,6317,22679,3353,31166,964,63333,2964,15870,6747,27280,2995,32221,1029,(X),3752,22120,8415,47903,3655,54669,1787,89964,4760,41857,16331,31.4,16251,31.6,18375,32.1,104,930,446,304,229,99,112,9,106900,143,689,531,197,303,284,13,0,115700,27,159,166,389,608,794,359,18,288100,2016,Germantown
6,Monday Night Brewing,4.5,48,1308 Adams St,Nashville,37208,TN,6317,22679,3353,31166,964,63333,2964,15870,6747,27280,2995,32221,1029,(X),3752,22120,8415,47903,3655,54669,1787,89964,4760,41857,16331,31.4,16251,31.6,18375,32.1,104,930,446,304,229,99,112,9,106900,143,689,531,197,303,284,13,0,115700,27,159,166,389,608,794,359,18,288100,2021,Germantown
7,The Black Abbey Brewing Company,4.5,103,2952 Sidco Dr,Nashville,37204,TN,5341,62818,2492,88527,1949,99798,2849,42917,5531,69482,2713,109350,2108,(X),2818,42865,6080,89954,2958,132708,2403,152188,3122,64549,12422,32.9,13169,32.4,15908,29.1,27,62,193,366,1002,1305,259,134,302800,66,30,151,154,754,1597,594,96,358300,63,22,21,66,235,923,1657,464,602500,2013,South Nashville
8,Fat Bottom Brewing,4.0,286,800 44th Ave N,Nashville,37209,TN,13840,41023,6648,48039,3661,70320,7192,36008,14132,45224,7436,54232,4337,(X),6696,36683,16513,61096,7684,78679,5233,96580,8829,48758,35179,31.6,37308,30.7,37852,31.7,223,971,1511,1564,1555,622,156,42,169200,166,757,1312,1338,1600,1019,395,27,188000,79,86,253,516,1762,3394,1388,135,351600,2012,The Nations
9,Bold Patriot Brewing Company,4.5,46,410 39th Ave N,Nashville,37209,TN,13840,41023,6648,48039,3661,70320,7192,36008,14132,45224,7436,54232,4337,(X),6696,36683,16513,61096,7684,78679,5233,96580,8829,48758,35179,31.6,37308,30.7,37852,31.7,223,971,1511,1564,1555,622,156,42,169200,166,757,1312,1338,1600,1019,395,27,188000,79,86,253,516,1762,3394,1388,135,351600,2020,Charlotte
10,Blackstone Brewing Company,4.5,42,2312 Clifton Ave,Nashville,37209,TN,13840,41023,6648,48039,3661,70320,7192,36008,14132,45224,7436,54232,4337,(X),6696,36683,16513,61096,7684,78679,5233,96580,8829,48758,35179,31.6,37308,30.7,37852,31.7,223,971,1511,1564,1555,622,156,42,169200,166,757,1312,1338,1600,1019,395,27,188000,79,86,253,516,1762,3394,1388,135,351600,2015,Midtown
11,Czanns Brewing Company,4.5,14,4909 Indiana Ave,Nashville,37209,TN,13840,41023,6648,48039,3661,70320,7192,36008,14132,45224,7436,54232,4337,(X),6696,36683,16513,61096,7684,78679,5233,96580,8829,48758,35179,31.6,37308,30.7,37852,31.7,223,971,1511,1564,1555,622,156,42,169200,166,757,1312,1338,1600,1019,395,27,188000,79,86,253,516,1762,3394,1388,135,351600,2021,The Nations
12,Harding House Brewing Company,4.5,26,904 51st Ave N,Nashville,37209,TN,13840,41023,6648,48039,3661,70320,7192,36008,14132,45224,7436,54232,4337,(X),6696,36683,16513,61096,7684,78679,5233,96580,8829,48758,35179,31.6,37308,30.7,37852,31.7,223,971,1511,1564,1555,622,156,42,169200,166,757,1312,1338,1600,1019,395,27,188000,79,86,253,516,1762,3394,1388,135,351600,2018,The Nations
13,Crazy Gnome Brewery,4.5,18,948 Main St,Nashville,37206,TN,10721,32697,5712,36049,2924,58149,5009,26976,10849,43782,5848,45608,3187,(X),5001,41026,11584,66065,5814,81107,3749,117542,5770,53164,25772,32.8,26323,33.0,27055,33.0,163,817,1506,1187,986,569,177,21,157700,252,375,1119,1146,1163,1139,307,14,193200,47,103,91,364,1401,2440,1306,11,359600,2020,Edgefield
14,Smith & Lentz Brewing,4.0,133,903 Main St,Nashville,37206,TN,10721,32697,5712,36049,2924,58149,5009,26976,10849,43782,5848,45608,3187,(X),5001,41026,11584,66065,5814,81107,3749,117542,5770,53164,25772,32.8,26323,33.0,27055,33.0,163,817,1506,1187,986,569,177,21,157700,252,375,1119,1146,1163,1139,307,14,193200,47,103,91,364,1401,2440,1306,11,359600,2015,East Nashville
15,Fait La Force Brewing,4.5,15,1414 3rd Ave S,Nashville,37210,TN,5875,25662,2940,29353,1310,40263,2935,21602,6536,29035,3053,30652,1427,47125,3483,25320,7337,36985,3116,48791,1651,64551,4221,27591,14876,31.5,16326,30.5,16810,31.6,102,712,949,244,91,46,0,10,113400,67,605,934,342,85,8,47,0,118500,55,122,252,331,978,351,30,8,227100,2019,South Nashville
16,Living Waters Brewing,4.5,76,1056 E Trinity Ln,Nashville,37216,TN,7812,46033,4490,53784,2666,69756,3322,33118,7834,45472,4304,55722,2890,63557,3530,35905,8244,62214,3897,86834,2732,105739,4347,46573,18912,37.0,18479,38.7,18081,35.6,179,766,2045,1417,757,167,21,9,142600,76,673,1483,1271,1156,340,29,8,158700,64,57,315,507,2147,2481,250,0,293800,2019,East Nashville
17,Barrique Brewing And Blending,5.0,14,30 Oldham St,Nashville,37213,TN,39,29125,16,-,16,-,23,22212,0,-,0,-,0,-,0,-,21,-,0,-,0,-,21,-,208,41.2,125,30.9,40,39.1,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2021,South Nashville
18,Honky Tonk Brewing,4.5,24,240 Cumberland Bend,Nashville,37228,TN,695,15819,143,29702,14,-,552,14719,635,15540,132,31250,53,(X),503,14693,1077,52344,71,-,60,-,1006,38846,1366,27.2,1226,35.5,1528,29.8,0,0,0,0,0,0,0,0,-,16,0,0,0,0,0,0,0,-,0,0,0,0,0,0,0,0,-,2015,Metro Center

In [ ]:
breweries_df['zip_code'].unique()